.contact-widget {
  width: 290px;
  background: #000;
  border-radius: 0.5em;
  .header {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-image: -moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    opacity: 0.502;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 0.75em;

    border-bottom: 2px #000;

    .title {
      font-size: 14px;
      font-family: "Helvetica";
      color: #fff;
      font-weight: bold;
      line-height: 1.2;
      text-align: left;
      opacity: 1;
      margin: 0.5em;
    }
  }
  .contact {

    .contact-left {
        border: #000 1px solid;
        width: 40%;
        padding: 1em;
        float: left;
        background-color: rgb(33, 33, 33);
    }
    
    .status-circle {
      border-radius: 50%;
      width: 8px;
      height: 8px;
      float: left;
      margin-left: .5em; 
      margin-right: .5em; 
    }
    .available{
        background-color: rgb(0, 255, 30);
    }
    .away{
        background-color: red;

    }
    .standby{
        background-color: rgb(195, 193, 24);  
    }
    .contact-name {
      font-size: 12px;
      font-family: "Helvetica";
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: left;
      float: left;
      margin-top: -0.25em;
      border-right-color: rgba(19, 19, 19, 0.6);
      border-right-width: 2px;

    }
    .contact-right{
        float: left;
    }
    .contact-info{
        p {
            color: #fff;
            display: block;
        }
    }
      
  }
}
